<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<section>
    <div class="p1">
        <p>
            Abonnez-vous a notre newsletter
        </p>
      <div class="d">
        <div class="input">
            <input type="text" placeholder="Entrer votre adresse email">
        </div>
        <div class="bt">
            <a href="">S'abonner</a>
        </div>
      </div>
    </div>
    <div class="p2">
        <div class="img">
            <img src="assets/fot.png" alt="logo_TIEJOB">
        </div>
        <div class="list1">
 <div class="a">
    <a  href="">Acceuil</a>
 </div>
  <div class="a">
    <a href="">A propres</a> 
  </div>
    <div>
        <a href="">Tarifs</a>
    </div>

        </div>
        <div class="list2">
        <div class="a">
            <a href="">Contact</a> 
        </div>
         <div class="a">
            <a href="">Connexion</a> 
         </div>
          <div>
            <a href="">Inscription</a> 
          </div>
            
             </div>
             <div class="rs">
              <div class="z num">
                <p class="">Service Comercial</p>
                <div class="ic">
                  <i class='bx bxs-phone com'></i> <p class="com">26 799 477</p>
                </div>
              </div>
              <div class="z num">
                <p>Service Technique</p>
                <div class="ic">
                  <i class='bx bxs-phone'></i> <p>26 799 932</p>
                </div>
              </div>
          <div class="z">
            <p>suiviez-nous</p>
            <div class="ic">
              
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
          </div>
         
             </div>
    </div>
    <div class="p3">
        <p>Copyright <span>@Adem Mehri</span> </p>
    </div>
</section>
