<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<title>Inscription-TIEJOB</title>
</head>
<section>
    <div class="form">
        <div class="donnee">
              <form [formGroup]="formsignin"  class="form">
             <div class="p1">
              <div class="img">
                <img src="assets/log.png" alt="logo_TIEJOB">
              </div>
              <div class="titre">
                <h2>Inscription Employeur</h2>
              </div>
            <div class="g">  <div class="bar"></div></div>
              <div class="head">
    
                <div class="pp">
                  <div class="circle">
                  
                    <img [src]="url"  alt="image_user">
                  
                    </div>
                
                </div>
                  
               <div class="upload">
              
                <input name="file" id="file" class="inputfile"  type="file" (change)="onselectfile($event)"/>
                <label for="file" class="file"><i class='bx bx-upload'></i> Choisir une image</label>
               </div>
              
                 </div>
                 <p class="sp q">{{timg}}</p>
    <div class="deux">
      <div class="cinetnom">
        <div class="cin">
          <label for="#">Domaine<span>*</span></label>
          <div class="cont t" [style]="bsp">
            <i class='bx bxs-graduation'></i>
            <select   formControlName="sp">
              <option value="">Domaine</option>
              <option value="cafe">Salon de thé</option>
              <option value="resturant">Resturant</option>
              <option value="Hotel">Hôtel</option>
             </select>
          </div>
          <p class="m">{{sp}}</p>
        </div>
       
        <div class="cin">
          <label for="#">Nom de l'entreprise<span>*</span></label>
          <div class="cont t" [style]="bnom">
            <i class='bx bx-user'></i>
            <input type="text" placeholder="Nom entreprise" formControlName="nom">
          </div>
          <p class="m">{{nom}}</p>
        </div>
       
    </div>
    <div class="cinetnom">
      <div class="cin">
        <label for="#">Numéro du téléphone<span>*</span></label>
        <div class="cont t" [style]="bnumero">
          <i class='bx bxs-phone'></i>
          <input type="text" placeholder="numero" formControlName="numero">
         
        </div>
        <p class="m">{{numero}}</p>
      </div>
      <div class="cin">
        <label for="#">Adresse<span>*</span></label>
        <div class="cont t" [style]="bgov">
          <i class='bx bx-buildings' ></i>
          <input type="text" placeholder="Adresse" formControlName="gov">
         
        </div>
        <p class="m">{{gov}}</p>
      </div>
 
     
  </div>
    </div>
            <div class="email">
              <label for="#">Adresse e-mail<span>*</span></label>
              <div class="cont d" [style]="bemail">
                <i class='bx bx-envelope'></i>
                <input type="text" placeholder="Email" formControlName="email">
              </div>
              <p class="m">{{email}}</p>
            </div>
          
            <div class="email">
              <label for="#">Mot de passe<span>*</span></label>
              <div class="cont d" [style]="bmp">
                <i class='bx bx-lock-alt'></i>
                <input type="password" placeholder="+6 caractere" formControlName="mp">
              </div>
              <p class="m">{{mp}}</p>
            </div>

<div class="text">
  <p>A déja un compte?</p><a routerLink="/login">Connexion</a>
</div>
<div class="b">
<div class="bt" (click)="onsubmit()">
  <a >S'inscrire</a>
</div>
</div>
             </div>

              </form>
          </div>
       
    </div>
<div class="p2">
  <img src="assets/empr.png" alt="image_employeur">
</div>
</section>
